<%= render "shared/header" %>

<section class="portfolio-masthead badbeat">
	
</section>
<section class="portfolio-overview maxwidth">
	<%= page_heading "Badbeat Poker" %>
		<p>Badbeat is a novel approach to investment risk, bankrolling talented poker players in a highly managed and regulated way to earn a return on that investment. I designed their website and a number of applications key to Badbeat's proposition. I built a hand replayer application which interpreted the hand history for texas holdem' and generated a timeline based flash video of the game, allowing players to hyperlink to key events in the hand. Audio and text narration could be added along with comments linked and highlighted on the timeline.</p>
</section>
<section class="portfolio-feature maxwidth clearfix">
		<p>Poker Assistant gives players live updates on their P&L balance and flags hands where they have exceeded agreed limits. Players can share hands with their friends, receive coaching and feedback based on the analysis of their play and view their game statistics over time. 
		<br><br>
		Poker Assistant could be either launched in the browser or through an iOS application to complement a players game play.</p>
		<div class="badbeat-mobile"></div>
</section>
<section class="portfolio-overview maxwidth">
    <div class="browser"><img src="<%= asset_path 'badbeat/mygame_screen.png'%>" class="browser-screenshot"/></div>
</section>	
<section class="portfolio-overview maxwidth">
    <div class="browser"><img src="<%= asset_path 'badbeat/replayer_screen.png'%>" class="browser-screenshot"/></div>
</section>	
<%= render "shared/portfolio_grid" %>
<%= render "shared/footer" %>