<%= render "shared/header" %>

<section class="portfolio-masthead diggers">
	
</section>
<section class="portfolio-overview maxwidth">
	<%= page_heading "Diggers.ie" %>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sollicitudin mi tincidunt dolor aliquam, sed tristique nunc congue. Suspendisse molestie ligula ac suscipit gravida. Integer sodales tempor purus. Nam sem nibh, eleifend et ornare bibendum, mollis ut felis. Fusce porttitor pretium massa, fringilla convallis risus placerat eu.</p>
</section>
<section class="portfolio-overview maxwidth">
    <div class="browser"><img src="<%= asset_path 'diggers/website.png'%>" class="browser-screenshot"/></div>
</section>	

<%= render "shared/portfolio_grid" %>
<%= render "shared/footer" %>